body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing : 0;
}

a {
  text-decoration: none;
  color          : rgb(207, 137, 207);
  font-size      : medium;
}

html,
body,
* {
  font-family: 'Roboto', sans-serif;
  box-sizing : border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.container {
  max-width     : 800px;
  margin        : 50px auto;
  padding       : 30px;
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.header {
  width          : 100%;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  margin-bottom  : 50px;
}

.header img {
  width : 150px;
  height: 150px;
}

.header p {
  font-size: 48px;
}

.btn {
  display        : flex;
  padding        : 0.3em 1.2em;
  margin         : auto;
  border-radius  : 2em;
  box-sizing     : border-box;
  text-decoration: none;
  font-family    : 'Roboto',
    sans-serif;
  font-weight     : 300;
  color           : #FFFFFF;
  background-color: #c95d9c;
  text-align      : center;
  transition      : all 0.2s;
  margin-bottom   : 10px;
}

.cards {
  width: 100%;
}

.card {
  width           : 80%;
  padding         : 20px;
  display         : flex;
  border-radius   : 5px;
  box-shadow      : 0 1px 6px -2px #000;
  background-color: #FFF;
  margin-bottom   : 30px;
  margin-left     : 10%;
}

.card img {
  width        : 150px;
  height       : 150px;
  border-radius: 3px;
  margin-right : 20px;
}

.card .name {
  font-size: 3.4rem;
}

.card p {
  font-size    : 1.4rem;
  margin-bottom: 3px;
}

.card .username {
  font-size : 1.8rem;
  font-style: italic;
  margin    : 3px 0 10px;
}